<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
    <title>Sign In</title>
</head>
    <body>
        <div class="loginContainer">
            <h2>Sign in</h2>
            <form action="@{/login}" method="post">
                <input type="text" >
                <br>
                <input type="password">
                <br>
                <input type="submit" value="Sign in">
            </form>
            <p>Don't have account yet? <a href="/registration">Sign up</a></p>
        </div>
    </body>
</html>